In [338]:
import pandas as pd

In [339]:
movies=pd.read_csv('tmdb_5000_movies.csv')

In [340]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [341]:
credits=pd.read_csv('tmdb_5000_credits.csv')

In [342]:
credits.head(3)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."

In [343]:
movies=pd.merge(movies,credits,on='title')

In [344]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'movie_id', 'cast', 'crew'],
      dtype='object')

In [345]:
#selecting the columns
#genres
#id
#keywords
#overview
#title
#cast
#crew
movies=movies[['genres','id','keywords','title','overview','cast','crew']]

In [346]:
movies.head(2)

,genres,id,keywords,title,overview,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [347]:
movies.shape

(4809, 7)

In [348]:
movies.isnull().sum()

genres      0
id          0
keywords    0
title       0
overview    3
cast        0
crew        0
dtype: int64

In [349]:
#dropping null values
movies.dropna(inplace=True)

In [350]:
import ast

In [351]:
#function for conversion
counter=0
def convert(obj):
    global counter
    l=[]
    for i in obj:
        l.append(i['name'])
    counter+=1
    return l

In [352]:
#converting genres
movies['genres']=movies.genres.apply(lambda x: convert(ast.literal_eval(x)))

In [353]:
#converting keywords
movies['keywords']=movies.keywords.apply(lambda x: convert(ast.literal_eval(x)))

In [354]:
#converting top3 values if cast
def convert3(obj):
    counter=0
    l=[]
    for i in obj:
        if counter!=3:
            l.append(i['name'])
            counter+=1
        else:
            break
    return l

In [355]:
movies['cast']=movies.cast.apply(lambda x: convert3(ast.literal_eval(x)))

In [356]:
#function for fetching director name
def f_dr(obj):
    l=[]
    for i in obj:
        if i['job']=='Director':
            l.append(i['name'])
    return l

In [357]:
#fetching director name 
movies['crew']=movies.crew.apply(lambda x: f_dr(ast.literal_eval(x)))

In [358]:
movies['overview']=movies.overview.apply(lambda x : x.split(" "))

In [359]:
movies['genres']=movies.genres.apply(lambda x : [i.replace(' ','') for i in x])

In [360]:
movies['cast']=movies.cast.apply(lambda x : [i.replace(' ','') for i in x])
movies['keywords']=movies.keywords.apply(lambda x : [i.replace(' ','') for i in x])

In [362]:
movies['crew']=movies.crew.apply(lambda x : [i.replace(' ','') for i in x])

In [363]:
movies['tags']=movies['overview']+movies['keywords']+movies['cast']+movies['crew']

In [364]:
movies.head()

,genres,id,keywords,title,overview,cast,crew,tags
0,"[Action, Adventure, Fantasy, ScienceFiction]",19995,"[cultureclash, future, spacewar, spacecolony, ...",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,"[Adventure, Fantasy, Action]",285,"[ocean, drugabuse, exoticisland, eastindiatrad...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,"[Action, Adventure, Crime]",206647,"[spy, basedonnovel, secretagent, sequel, mi6, ...",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,"[Action, Crime, Drama, Thriller]",49026,"[dccomics, crimefighter, terrorist, secretiden...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,"[Action, Adventure, ScienceFiction]",49529,"[basedonnovel, mars, medallion, spacetravel, p...",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [365]:
new_df=movies[['id','title','tags']]

In [367]:
new_df['tags']=new_df.tags.apply(lambda x:" ".join(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_13204\2186533510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df.tags.apply(lambda x:" ".join(x))

In [376]:
new_df['tags']=new_df.tags.apply(lambda x:x.lower())

C:\Users\HP\AppData\Local\Temp\ipykernel_13204\1330597116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df.tags.apply(lambda x:x.lower())

In [393]:
new_df['tags'][0]

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [391]:
new_df['tags']=new_df.tags.apply(lambda x:stem(x))

C:\Users\HP\AppData\Local\Temp\ipykernel_13204\3088395943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df.tags.apply(lambda x:stem(x))

In [392]:
new_df.head()

,id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."

In [387]:
import nltk

In [394]:
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [395]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [396]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [397]:
vectors=cv.fit_transform(new_df['tags']).toarray()

In [398]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [399]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [400]:
from sklearn.metrics.pairwise import cosine_similarity

In [402]:
similarity=cosine_similarity(vectors)

In [412]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1216, 0.25142264225703365),
 (2409, 0.24404676504598818),
 (582, 0.21613144789263333),
 (507, 0.20812378052829614),
 (3730, 0.20797258270192573)]

In [421]:
def recommend(movie):
    movie_index=new_df[new_df['title']==movie].index[0]
    distances=similarity[movie_index]
    movies_list=sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [426]:
recommend('Batman')

Batman
Batman & Robin
The R.M.
Batman Begins
Batman Returns

In [419]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [427]:
import pickle

In [428]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [429]:
pickle.dump(similarity,open('similarity.pkl','wb'))